{% extends '../layouts/default.twig' %}
{% set head_title = 'Index' %}
{% set body_class = '' %}

{% block page %}



  <div class="demo">
    <h1 class="demo-title">
      Project Name
    </h1>
    <p class="demo-subtitle">
      This is the demo index page with basic styles for listing all of your pages.
      <br>
      Tip: can be useful when showing the site preview to a client.
    </p>
    <ul class="demo-list">
      <li>
        <a href="page.html">Sample Page</a>
      </li>
    </ul>
  </div>

{% endblock %}
